@model IEnumerable<BookStore.WEB.ViewModels.Categoria.CategoriaViewModel>

@{
    ViewData["Title"] = "Categorias";
}

<div class="row">
    <h4 class="col-10">Categorias</h4>
    <button type="button" class="btn btn-success btn-sm mb-1" onclick="location.href='@Url.Action("Create", "Categoria")'" ; return false;">
        + NOVO
    </button>
</div>


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
